<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>

    <table class="table table-light">
        <thead>
            <tr>
                <th>Variable</th>
                <th>Pipe</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{nombre}}</td>
                <td>uppercase</td>
                <td>{{nombre | uppercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>slice:3</td>
                <td>{{nombre | slice:3}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>slice:0:3</td>
                <td>{{nombre | slice:0:3}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>slice:1:5</td>
                <td>{{nombre | slice:1:5}}</td>
            </tr>
            <tr>
                <td>{{PI}}</td>
                <td>number</td>
                <td>{{PI | number}}</td>
            </tr>
            <tr>
                <td>{{PI}}</td>
                <td>number: '3.0-0'</td>
                <td>{{PI | number: '3.0-0'}}</td>
            </tr>
            <tr>
                <td>{{PI}}</td>
                <td>number: '1.0-4'</td>
                <td>{{PI | number: '1.0-4'}}</td>
            </tr>
            <tr>
                <td>{{per}}</td>
                <td>percent</td>
                <td>{{per | percent}}</td>
            </tr>
            <tr>
                <td>{{per}}</td>
                <td>percent: '2.2-2'</td>
                <td>{{per | percent: '2.2-2'}}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>currency</td>
                <td>{{salario | currency}}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>currency: 'EUR'</td>
                <td>{{salario | currency: 'EUR'}}</td>
            </tr>
            <tr>
                <td>{{salario}}</td>
                <td>number: '.2-2'</td>
                <td>{{salario | number: '.0-2'}}</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li *ngFor="let numreal of arrNum">{{numreal}}</li>
                    </ul>
                </td>
                <td>currency</td>
                <td>
                    <ul>
                        <li *ngFor="let numpipe of arrNum">
                            {{numpipe | currency}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date</td>
                <td>{{fecha | date}}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date: 'medium'</td>
                <td>{{fecha | date: 'medium'}}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date: 'short'</td>
                <td>{{fecha | date: 'short'}}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date: 'long'</td>
                <td>{{fecha | date: 'long'}}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date: 'MMMM - dd'</td>
                <td>{{fecha | date: 'MMMM - dd'}}</td>
            </tr>
            <tr>
                <td>{{fecha}}</td>
                <td>date: 'dd - MM - YY'</td>
                <td>{{fecha | date: 'dd - MM - YY'}}</td>
            </tr>
            <tr>
                <td>{{persona}}</td>
                <td>json</td>
                <td>{{persona | json}}</td>
            </tr>
            <tr>
                <td>{{valorPromesa}}</td>
                <td>async</td>
                <td>{{valorPromesa | async}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>contrasena:{{activar}}
                    <button (click)="activar = !activar" class="btn btn-outline-primary">Activar / Desactivar</button>
                </td>
                <td>{{nombre | contrasena: activar}}</td>
            </tr>
        </tbody>
    </table>

    <h4>VIDEO de youtube</h4>

    <!-- <iframe width="1190" height="669" [src]="videocod | domseguro: 'https://www.youtube.com/embed/'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <iframe width="1190" height="669" src="https://www.youtube.com/embed/t0HNlwQRAnU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</div>